:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

body {
  background-color: var(--primary-white-color);
  color: var(--title-text-color);
}

ul {
  list-style: none;
}

.logo {
  color: #000000;
}
.text-web {
  color: var(--accent-color);
}

/* site-nav */

.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* Hero */
.hero-title {
  color: var(--primary-white-color);
}

/* Section */
.section-title {
  color: var(--title-text-color);
}

/* Feature */
.feature-list .title {
  color: var(--title-text-color);
}

/* Team */
.team-list .title {
  color: var(--title-text-color);
}

/* Button */
.button {
  color: var(--accent-color);
}
.button.primery {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
